* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial"; }

body .fondo {
  padding-top: 30px;
  width: 100%;
  background-image: url("../assets/fondo.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; }
  body .fondo .nombre {
    width: 90%;
    margin: auto;
    margin-bottom: 10px; }
    body .fondo .nombre .nombre-h2 {
      text-align: center;
      font-family: "Yellowtail";
      color: white;
      font-weight: 300;
      font-size: 40px; }
  body .fondo .sombra-main {
    background-color: #332d2d62;
    width: 90%;
    margin: auto;
    -webkit-box-shadow: -1px 0px 52px -12px black;
    -moz-box-shadow: -1px 0px 52px -12px black;
    box-shadow: -1px 0px 52px -12px black; }
    body .fondo .sombra-main .main {
      /*Sombra interna*/
      -webkit-box-shadow: inset -5px -118px 55px -16px rgba(51, 45, 45, 0.97);
      -moz-box-shadow: inset -5px -118px 55px -16px rgba(51, 45, 45, 0.97);
      box-shadow: inset -5px -118px 55px -16px rgba(51, 45, 45, 0.97);
      width: 100%; }
      body .fondo .sombra-main .main .main-presentacion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        color: white; }
        body .fondo .sombra-main .main .main-presentacion .presentacion-h1 {
          text-align: center;
          font-size: 45px; }
        body .fondo .sombra-main .main .main-presentacion .presentacion-h4 {
          text-align: center;
          font-family: "Yellowtail";
          font-weight: 300;
          font-size: 30px; }
        body .fondo .sombra-main .main .main-presentacion .presentacion-p {
          margin-top: 20px;
          text-align: center;
          font-weight: 300;
          font-size: 20px; }
        body .fondo .sombra-main .main .main-presentacion .presentacion-btn {
          margin-top: 40px;
          text-align: center;
          font-size: 25px;
          text-decoration: none;
          color: white;
          background-color: #f82f2f;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 15px; }

body .portfolio {
  width: 90%;
  margin: auto;
  background-color: #332D2D;
  padding-top: 40px; }
  body .portfolio .portfolio-titulo {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 300; }
  body .portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    body .portfolio .container .carrousel .container-item-carrousel {
      display: flex; }
      body .portfolio .container .carrousel .container-item-carrousel .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        body .portfolio .container .carrousel .container-item-carrousel .item img {
          width: 40%; }
        body .portfolio .container .carrousel .container-item-carrousel .item .item-p {
          margin-top: 10px;
          color: white;
          font-weight: 500;
          text-align: center; }
    body .portfolio .container .proyectos {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      body .portfolio .container .proyectos .item {
        width: 100%;
        margin-bottom: 40px; }
        body .portfolio .container .proyectos .item .card {
          margin: auto;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 5px; }
          body .portfolio .container .proyectos .item .card img {
            width: 100%; }
          body .portfolio .container .proyectos .item .card .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            body .portfolio .container .proyectos .item .card .card-body .btn {
              background-color: #f82f2f;
              color: white;
              font-weight: 500; }

body .contacto {
  width: 100%;
  background-color: #201E1E; }
  body .contacto .encastre {
    height: 50px;
    width: 90%;
    margin: auto;
    background-color: #332D2D; }
  body .contacto h4 {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 300; }
  body .contacto .form {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center; }
    body .contacto .form .nombre {
      background-color: #565656;
      color: white;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      border-radius: 5px;
      margin-bottom: 10px; }
    body .contacto .form .nombre::placeholder,
    body .contacto .form .correo::placeholder,
    body .contacto .form .mensaje::placeholder {
      color: #d4d4d4; }
    body .contacto .form .correo {
      background-color: #565656;
      color: white;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      border-radius: 5px;
      margin-bottom: 10px; }
    body .contacto .form .mensaje {
      background-color: #565656;
      color: white;
      padding: 10px;
      border: none;
      outline: none;
      font-size: 20px;
      border-radius: 5px;
      margin-bottom: 10px; }
    body .contacto .form .btn-submit {
      width: 40%;
      margin: auto;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      margin-bottom: 120px;
      padding: 5px;
      background-color: #f82f2f; }

body .fondoDeHeader {
  background-color: #201E1E; }
  body .fondoDeHeader .header-cel {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    background-color: #332D2D;
    height: 90px;
    border-radius: 20px 20px 0px 0px; }
    body .fondoDeHeader .header-cel .nav {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      border-bottom: 0.5px solid #464646; }
      body .fondoDeHeader .header-cel .nav .ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0; }
        body .fondoDeHeader .header-cel .nav .ul .li {
          height: 100%;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center; }
          body .fondoDeHeader .header-cel .nav .ul .li .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: white;
            text-align: center; }
          body .fondoDeHeader .header-cel .nav .ul .li .btn:hover {
            background-color: #f82f2f; }
    body .fondoDeHeader .header-cel .info {
      height: 30px;
      text-align: center; }
      body .fondoDeHeader .header-cel .info p {
        text-align: center;
        margin: 0;
        color: white; }
